{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Internal VideoDecoder</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/jsoneditor.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"

          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/png" href="https://assets.digitalocean.com/logos/favicon.png"/>



</head>

<body class='login'>

<div class="container">

{% if request.user.is_authenticated %}

<nav aria-label="main navigation" class="navbar is-light" role="navigation" style='align-items: inherit;'>

    <div class="navbar-brand">

        <div class="navbar-item">

            <img atl="DigitalOcean" src="https://assets.digitalocean.com/logos/DO_Logo_icon_blue.png"

                 style="margin-right: 0.5em; width: 50%; height: 50%;">News4U

        </div>

    </div>
    <div ><a href="#" id='menu_logout'><h5>Log out</h5></a></div>

</nav>



<form id ="queryForm" name = "queryForm" action = "query_data" method = "POST">
    {% csrf_token %}
    <div class='row'>
        <div class='col-md-4'><select class='form-control' name="channel_title" id="party-select">

            <option value="JanaSena Party">JanaSena Party</option>
    
            <option value="Telugu Desam Party">Telugu Desam Party</option>
    
            <option value="YSRCP Party">YSRCP Party</option>
    
            </select>
        </div>
        <div class='col-md-4'>
            <input type="date" class='form-control' id='publishedAt' name="publishedAt" size = 100 >
        </div>
        <div class='col-md-4'>
            <input class='btn btn-primary' id="query_submit" type="submit" value="Submit">
        </div>
    </div>


</form>

<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<br>




<form id="myForm" name="myForm" action="submit"

      method="POST"> {% csrf_token %}

    <div class='row'>
        <div class='col-md-6'>
            <div class='title'>VideoID </div>

            <div style='margin-top:5px'><input class='form-control' type="text" name="video_id" size = 100 value="{{ droplets.video_id }}" readonly ></div>
        </div>
        <div class='col-md-6'>
            <div class='title'>PublishedAt </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="publishedAt" size = 100 value="{{ droplets.publishedAt }}" readonly /></div>
        </div>
    </div>


    <div class='row'>
        <div class='col-md-6'>
            <div class='title'>Search_kind </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="search_kind" size = 100 value="{{ droplets.search_kind }}" readonly /></div>
        </div>
        <div class='col-md-6'>
            <div class='title'>Search_etag </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="search_etag" size = 100 value="{{ droplets.search_etag }}" readonly /></div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6'>
            <div class='title'>Video_kind </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="video_kind" size = 100 value="{{ droplets.video_kind }}" readonly /></div>
        </div>
        <div class='col-md-6'>
            <div class='title'>channel_title </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="channel_title" size = 100 value="{{ droplets.channel_title }}" readonly /></div>
        </div>


    </div>

    <div class='row'>
        <div class='col-md-6'>
            <div class='title'>Video_title </div>

            <div style='margin-top:5px'><textarea  class='form-control' name="video_title" size = 100 style="resize: none;" readonly>{{ droplets.video_title }}</textarea></div>
        </div>
        <div class='col-md-6'>
            <div class='title'>description </div>

            <div style='margin-top:5px'><textarea class='form-control' name="description" size = 100  style="resize: none;" readonly>{{ droplets.description }}</textarea></div>
        </div>
    </div>


    <div class='row'>
        <div class='col-md-6'>
            <div class='title'>channel_id </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="channel_id" size = 100 value="{{ droplets.channel_id }}" readonly /></div>
        </div>
        <div class='col-md-6'>
            <div class='title'>image_default_url </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="image_default_url" size = 100 value="{{ droplets.image_default_url }}" readonly /></div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-4'>
            <div class='title'>image_default_width </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="image_default_width" size = 100 value="{{ droplets.image_default_width }}" readonly /></div>
        </div>
        <div class='col-md-4'>
            <div class='title'>image_medium_width </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="image_medium_width" size = 100 value="{{ droplets.image_medium_width }}" readonly /></div>
        </div>
        <div class='col-md-4'>
            <div class='title'>Image_High_Width </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="image_high_width" size = 100 value="{{ droplets.image_high_width }}" readonly /></div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-4'>
            <div class='title'>image_default_height </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="image_default_height" size = 100 value="{{ droplets.image_default_height }}" readonly /></div>
        </div>
        <div class='col-md-4'>
            <div class='title'>image_medium_height </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="image_medium_height" size = 100 value="{{ droplets.image_medium_height }}" readonly /></div>
        </div>
        <div class='col-md-4'>
            <div class='title'>Image_High_Height </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="image_high_height" size = 100 value="{{ droplets.image_high_height }}" readonly /></div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6'>
            <div class='title'>image_medium </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="image_medium" size = 100 value="{{ droplets.image_medium }}" readonly /></div>
        </div>
        <div class='col-md-6'>
            <div class='title'>image_high </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="image_high" size = 100 value="{{ droplets.image_high }}" readonly /></div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6'>
            <div class='title'>Live_Broadcast_Content </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="liveBroadcastContent" size = 100 value="{{ droplets.liveBroadcastContent }}" readonly /></div>
        </div>
        <div class='col-md-6'>
            <div class='title'>validity_status </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="validity_status" size = 100 value="{{ droplets.validity_status }}" readonly /></div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6'>
            <div class='title'>Video_Url </div>

            <div style='margin-top:5px'><input type="text" class='form-control' id = 'video_url' name="video_url" size = 100 value="{{ droplets.video_url }}" readonly /></div>
        </div>
        <div class='col-md-6'>
            <div class='title'>Video </div>
            {{
                video_url = droplets.video_url
                
            }}
            <div style='margin-top:5px'><iframe width="100%", height="315px" src="{{ droplets.video_url }}"></iframe></div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6'>
            <div class='title'>English_Text </div>

            <div style='margin-top:5px'><textarea  class='form-control' name="old_english_text" rows="8" style="resize: none;" readonly>{{ droplets.eng_text }}</textarea></div>
        </div>
        <div class='col-md-6'>
            <div class='title'>Telugu_Text </div>

            <div style='margin-top:5px'><textarea class='form-control' name="old_telugu_text" rows="8"  style="resize: none;" readonly>{{ droplets.telugu_text }}</textarea></div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6'>
            <div class='title'>New_English_Text </div>

            <div style='margin-top:5px'><textarea  class='form-control' name="english_text" rows="8" style="resize: none;">{{ droplets.eng_text }}</textarea></div>
        </div>
        <div class='col-md-6'>
            <div class='title'>New_Telugu_Text </div>

            <div style='margin-top:5px'><textarea class='form-control' name="telugu_text" rows="8"  style="resize: none;">{{ droplets.telugu_text }}</textarea></div>
        </div>
    </div>

    <hr style="height:2px;border-width:0;color:gray;background-color:gray">

    <br>    <div class='row'>
        <div class='col-md-6'>
            <div class='title'>Tags_Provided </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="tags" size = 100 value="{{ droplets.tags }}" /></div>
        </div>
        <div class='col-md-6'>
            <div class='title'>New_Video_Title </div>

            <div style='margin-top:5px'><input type="text" class='form-control' name="new_title" size = 100 value="" /></div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-12'>
            <div class='title'>Notes </div>
            <div id='note_editor' class='json-editor'></div><textarea name="notes" id='notes' style="display: none;">{"key":[]}</textarea>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-12'>
            <div class='title'>Questions </div>
            <div id='questions_editor' class='json-editor'></div><textarea name="questions" id='questions' style="display: none;">{"key":[]}</textarea>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-12'>
            <div class='title'>Summary </div>
            <div id='summary_editor' class='json-editor'></div><textarea name="summary" id='summary' style="display: none;">{"key":[]}</textarea>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-12'>
            <div class='title'>Topic_Scope </div>
            <div id='topic_scope_editor' class='json-editor'></div><textarea name="topic_scope" id='topic_scope' style="display: none;">{"key":[]}</textarea>
        </div>
    </div>


    <div class='row'>
        <div class='col-md-6'>
            <div class='title'>Video_Intended_to </div>

            <select class='form-control' id="video_intended[]" name = "video_intended[]" multiple="multiple">

                <option value="attacking">Attacking</option>

                <option value="defending">Defending</option>

                <option value="suggesting">Suggesting</option>

                <option value="supporting">Supporting</option>

                <option value="promotion">Promotion</option>

                <option value="fact_check">Fact-Check</option>

            </select>
    </div>
        <div class='col-md-6'>
            <div class='title'>Party_Status </div>

            <select class='form-control' id="party_status" name = "party_status[]" multiple="multiple">

                <option value="ruling">Ruling</option>

                <option value="opposition">Opposition</option>

                <option value="independent">Independent</option>

            </select>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6'>
            <div class='title'>Topics_Covered </div>

            <div style='margin-top:5px'><textarea  class='form-control' name="topics" rows="5" style="resize: none;"></textarea></div>
        </div>
        <div class='col-md-6'>
            <div class='title'>Speakers </div>

            <div style='margin-top:5px'><textarea class='form-control' name="speakers" rows="5"  style="resize: none;"></textarea></div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6'>
            <div class='title'>Related_Departments </div>

            <div style='margin-top:5px'><textarea  class='form-control' name="related_departments" rows="5" style="resize: none;"></textarea></div>
        </div>
        <div class='col-md-6'>
            <div class='title'>Target_Parties </div>

            <div style='margin-top:5px'><textarea class='form-control' name="target_parties" rows="5"  style="resize: none;"></textarea></div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-12'>
            <div class='d-flex justify-content-center'>
                <input class='btn btn-primary' id="submit" type="submit" value="Submit">
            </div>
        </div>
    </div>

</form>

{% else %}

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">Log in</a></h1>
        </div>
    </div>
    <!-- END Header -->

    <div class="main shifted" id="main">
      <div class="content">
        <!-- Content -->
        <div id="content" class="colM">
            <div id="content-main">
                <form method="POST" id="login-form" onsubmit="event.preventDefault(); return false;">
                    {% csrf_token %}
                    <div class="form-row">
                        <p id="errornote" ></p>
                    </div>
                    <div class="form-row">
                        
                        <label class="required" for="id_username">Username:</label> <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                    </div>
                    <div class="form-row">
                        
                        <label class="required" for="id_password">Password:</label> <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
                        <input type="hidden" name="next" value="/admin/">
                    </div>
                    
                    
                    <div class="submit-row">
                        <input type="submit" class = "menu__login__form__submit" value="Log in">
                    </div>
                </form>
                <div class="submit-row"><a class="menu_sign_up" href="sign_up">Sign up</a></div>

            </div>
            <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'main/jquery.jsoneditor.js' %}"></script>
<script src="{% static 'main/jsoneditor.js' %}"></script>
<script src="{% static 'main/main.js' %}"></script>
<script>
    $(document).ready(function() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        var str = yyyy + "-" + mm + "-"+dd;
        $("#publishedAt").val(str);
    });

</script>
</div>
</body>

</html>
