<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Hi</title>

</head>

<body>

<p>output</p>



{{context}}

{{ video_id }}

{{ publishedAt }}

{{ search_kind }}

{{ search_etag }}

{{ video_kind }}

{{ video_title }}

{{ description }}

{{ channel_title }}

{{ channel_id }}

{{ image_default_url }}

{{ image_default_width }}

{{ image_medium_height }}

{{ image_high }}

{{ image_high_width }}

{{ image_high_height }}

{{ tags }}

{{ video_url }}

{{ liveBroadcastContent }}

{{ status }}

{{ notes }}

(( topics }}

{{ speakers }}

{{ questions }}

{{ summary }}

{{ video_intended }}

{{ related_departments }}

{{ party_status }}

{{ target_parties }}

{{ english_text }}

{{ telugu_text }}







</body>

</html>
